body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

Скопир
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textzacherk{
  text-decoration: line-through;


}
.textInput{
  border-radius: 10px;
  border: 1px solid rgba(4, 107, 114, 0.726);
  padding: 0.1rem;
  height: 1rem;
}
.todolist{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;

  width:100%;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 1rem;

}
.todolist span{
  width: 80%;
  max-width: 200px;
  overflow-wrap: break-word;
  color: rgb(211, 210, 210);
}
.div_todo{
  background-color: rgb(82, 82, 112);
  width: 30%;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 30px;
}
.checkbox{
  appearance: none;
  position: relative;
  width: 100%;
  max-width: 30px;
  height: 30px;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  background-color: rgba(0, 255, 255, 0);
}
.checkboxgreen{
  appearance: none;
  position: relative;
  width: 100%;
  max-width: 30px;
  height: 30px;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  background-color: rgba(5, 185, 29, 0.527);
}
.button{
  border-radius: 100px;
  background-color: red;
}
.todolist span{
  font-size: 20px
}
.div_todo p {
  font-size: 30px;
}